* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Museo Bold"; */
}
body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
@font-face {
  font-family: "Museo Bold";
  src: url("./fonts/MuseoModerno-Regular.ttf");
}